<!DOCTYPE html>
<html lang="en">
  <head>
	<link href="static/styles/reset.css" media="screen" rel="stylesheet" />
    <link href="static/styles/pagetab.css" media="screen" rel="stylesheet" />
	<title>Rorschach Test Platform</title>
	
	<script type="text/javascript">
    <!--
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-256445-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    // -->
    </script> 
  </head>
  <body>
    <h1>Rorschach Test Platform</h1>
    <h2>The first psychological testing platform with social network analysis features!
    <a href="http://apps.facebook.com/rorschach_test_platf/" target="_new">Go visit it!</a></h2>
    
    <p class="image"><a href="http://apps.facebook.com/rorschach_test_platf/" target="_new"><img class="image" src="static/images/home.jpg"></a></p>
    
    <p class="title">Description of the application:</p>
    <p>This is an application which aims to dispense psychological tests easily using Facebook. On this application administrators can define tests to be submitted to the Facebook users to complete.</p> 
        <p>Thanks to the features and information offered by Facebook the application is able to integrate the testing data with other relevant information about the users. In particular the application leverages the techniques of Social Network Analysis (SNA, <a href="http://en.wikipedia.org/wiki/Social_network_analysis" target="_blank">read more on Wikipedia</a>) to compute sociological indexes on the users.</p>
        <p>These indexes are:<br/>
        - Basic indexes on the network configuration<br/>
        - Centrality indexes<br/>
        - Group indexes on subgraphs and cliques</p>
        <p>This approach permits to obtain richer information on social psychology and other fields in test based psychological research and analysis.</p>
    
    <p class="title">Developers and administartors:</p>
    <p><a href="http://www.facebook.com/biancio"><img class="fbpicture" src="https://graph.facebook.com/500674896/picture?type=square" alt="Andrea Biancini"></a>This application has been developed by Andrea Biancini, click on the photo to access to his FaceBook profile page!<br/>
    You can find Andrea on his homepage: <a href="https://sites.google.com/site/andreabiancini/" target="_new">https://sites.google.com/site/andreabiancini/</a><br/>
    Or via mail or gtalk chat: <a href="mailto:andrea.biancini@gmail.com">andrea.biancini@gmail.com</a></p>
  </body>
</html>