    <header class="clearfix">
      <p id="picture" style="background-image: url(/static/images/macchie.jpg); background-size: 64px 64px"></p>
      <h1>Network</h1>
      <p class="tagline">
        Navigation
        <span><a href="/?code={{code}}">Home</a></span>
        <span><a href="/profile/{{uid}}?code={{code}}">Profile</a></span>
        <span><a href="/network/{{uid}}?code={{code}}">Network</a></span>
      </p>
      <div id="share-app">
        <ul>
          <li><a class="facebook-button" href="#" onclick="popup('{%autoescape off%}{{conf.POST_TO_WALL}}{%endautoescape%}', 'Post to Wall', 580, 400);"><span class="plus">Post to Wall</span></a></li>
          <li><a class="facebook-button speech-bubble" href="#" onclick="popup('{%autoescape off%}{{conf.SEND_TO}}{%endautoescape%}', 'Send', 580, 400);"><span class="speech-bubble">Send to Friends</span></a></li>
        </ul>
      </div>
    </header>
    
    <section id="normalsection" class="clearfix">
      {% if not code == None and not nodes == None and not edges == None %}
        <h2 id="title_network">Network for user: {{uid}} (generate network file: <a href="/network.gdf?uid={{uid}}&code={{ code }}">GDF</a> or <a href="/network.graphml?uid={{uid}}&code={{ code }}">graphml</a>)
        <ul><li><a href="#" onclick="computeNetworkStatistics()" class="facebook-button" style="float: right; margin: left: 8px">
          <span class="plus">Compute network statistics</span>
        </a></li>
        <li><a href="#" onclick="post_wall()" class="facebook-button" style="float: right; margin: left: 8px">
          <span class="plus">Post your network to Wall</span>
        </a></li></ul></h2>
      {% else %}
        <h2>Network for user: {{uid}}
        <a href="#" onclick="computeNetworkStatistics()" class="facebook-button" style="float: right">
          <span class="plus">Compute network statistics</span>
        </a></h2>
      {% endif %}
      
      <div id="computation"></div>
      
      <script type="text/javascript">
      <!--
        window.fbAsyncInit = function() {
		  FB.init({
		    appId      : {{conf.FBAPI_APP_ID}}, // App ID
		    channelUrl : '/static/pages/channel.html', // Channel File
		    status     : true, // check login status
		    cookie     : true, // enable cookies to allow the server to access the session
		    xfbml      : true  // parse XFBML
		  });
		};
		
		function computeNetworkStatistics() {
			FB.api('/me/friends', {fields: 'id'}, function(response) {
			  if (response.error) {
				  $("#computation").text('Error occured while connecting to Facebook: ' + response.error);
			  } else {
				var nodes = [];
				var edges = [];
				var numEdges = 0;
				var totEdges = 0;
				
			    for (var i = 0, l = response.data.length; i < l; i++) {
			      totEdges = l;
			      var friend = response.data[i];
			      nodes.push(friend.id);
			      FB.api('/me/mutualfriends/' + friend.id, {fields: 'id'}, (function(curId) {
			    	  return function(response) {
				    	  if (!response.error) {
				    		  $("#computation").text("Downloading friends information: " + (numEdges+1) + "/" + totEdges + " ...");
				    		  for (var i = 0, l = response.data.length; i < l; i++) {
				    			  edges.push([curId, response.data[i].id]);
				    		  }
				    	  }
				    	  numEdges++;
				    	  
				    	  if (numEdges == totEdges) {
				      		computedStatistics(nodes, edges);
				      		$("#computation").text();
				          }
			    	  }
			      }(friend.id)));
			    }
			  }
			});
		}
		
	    function computedStatistics(nodes, edges) {
	      $.ajax({
	        type : 'POST',
	        url : '/storenetwork',
	        dataType : 'json',
	        data: {
	          code: '{{code}}',
	          id : '{{uid}}',
	          nodes: JSON.stringify(nodes),
	          edges: JSON.stringify(edges)
	        },
	        success : function(data){
	          window.location.reload();
	        },
	        error : function(XMLHttpRequest, textStatus, errorThrown) {
	          $('#computation').text("Error while sending network data to Rorschach Test Platform.");
	        }
	      });
		}
      //-->
	  </script>
    </section>
    
    <section id="normalsection" class="clearfix">
      <p class="title">Graphical representation of the Facebook network:</p>

      {% if not nodes == None and not edges == None %}
      <table id="table_nodes"><tr>
      <td colspan="2">
        <div class="span12 sigma-parent" id="sigma-example-parent">
			<div class="sigma-expand" id="sigma-example"></div>
		</div>
        <div id="json" style="display: none">{% autoescape off %}{{json_network}}{% endautoescape %}</div>
        <script type="text/javascript">
        <!--
          var sigInst = sigma.init(document.getElementById('sigma-example')).drawingProperties({
			defaultLabelColor: '#fff',
			defaultLabelSize: 14,
			defaultLabelBGColor: '#fff',
			defaultLabelHoverColor: '#000',
			labelThreshold: 6,
			defaultEdgeType: 'curve',
			edgeColor: '#BBBBBB'
		  }).graphProperties({
			minNodeSize: 0.5,
			maxNodeSize: 5,
			minEdgeSize: 2,
			maxEdgeSize: 2
		  }).mouseProperties({
			maxRatio: 32
		  });
		  
		  var obj = jQuery.parseJSON($('#json').text());
		  for(var i = 0; i < obj.nodes.length; i++) {
			  try { sigInst.addNode(obj.nodes[i].name, {'label': obj.nodes[i].name, 'x': Math.random(), 'y': Math.random(), 'color': '#3B5998'}); }
			  catch(err) { /* Do Nothing */ }
		  }
		  
		  for(var i = 0; i < obj.links.length; i++) {
			try { sigInst.addEdge(obj.nodes[obj.links[i].source].name + "-" + obj.nodes[obj.links[i].target].name, obj.nodes[obj.links[i].source].name, obj.nodes[obj.links[i].target].name); }
			catch(err) { /* Do Nothing */ }
		  }
		  
		  sigInst.startForceAtlas2();
		  setTimeout(function(){
			sigInst.stopForceAtlas2();
			sigInst.draw();
	      }, 5000);
		// -->
    	</script>
        
      </td>
      </tr><tr>
      <td><div id="network_div"></div></td>
      <td>
        <h3>Your Facebook network nodes (and edges) count:</h3><br/>&nbsp;
        <span id="indexvalue">{{nodes|length}} <small>({{edges|length}})</small></span>
        <p>&nbsp;</p>
        <table><tr>
        <td><fb:share-button type="button"></fb:share-button>&nbsp;</td>
        <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="{{conf.BASE_URL}}network/{{uid}}" data-text="According to Rorschach Test Platform my Facebook network has {{nodes|length}} nodes and {{edges|length}} edges!" data-count="none" data-hashtags="RorschachTestPlatf">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></td>
	    </tr></table>
		<h3 id="comparisonvalue"></h3><br/>&nbsp;
        <span id="friendvalue"></span>
      </td>
      </tr></table>
        
      <script type="text/javascript">
      <!--
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChartAlone);
        
        function drawChartAlone() {
          drawChart(null, null);
        }
          
        function drawChart(friendNodes, friendEdges) {
          var data;
          
          if (friendNodes != null && friendEdges != null) {
            data = google.visualization.arrayToDataTable([
                   ['Dimension', 'Your Percent', 'Friend\'s Percent'],
                   ['# nodes',  {{nodes|length}}/2500, friendNodes/2500],
                   ['# edges',  {{edges|length}}/({{nodes|length}}*{{nodes|length}}), friendEdges/(friendNodes*friendNodes)],
            ]);
          }
          else {
            data = google.visualization.arrayToDataTable([
                   ['Dimension', 'Percent'],
                   ['# nodes',  {{nodes|length}}/2500],
                   ['# edges',  {{edges|length}}/({{nodes|length}}*{{nodes|length}})],
            ]);
          }

          new google.visualization.BarChart(document.getElementById('network_div')).draw(
               data,
               {title:"Facebook Network Representation",
                width: 500, height: 400,
                vAxis: {title: "Dimension"},
                hAxis: {title: "Percent", minValue: 0},
                legend: {position: "none"}}
          );
        }
      // -->
      </script>
    
      {% if not code == None and friends != None and friends|length > 0  %}
      <p>&nbsp;</p>
      
      <p><a id="comparelink" href="#">Compare your network with one of your friends</a></p>
      
      <div id="comparediv">
        <p>Select the friend from the dropdown list:
        <select id="friend" name="friend">
          <option value=""></option>
          {% for friend in friends %}
          <option value="{{friend.uid}}">{{friend.name}}</option>
          {% endfor %}
        </select> <span id="comparemessage"/></p>
        
        <div id="comparisonchart"></div>
        <div id="comparisonresult"></div>
      </div>
    
      <script language="javascript">
      <!--
      	jsPlumb.bind("ready", function() {
      		drawConnections();
      	});
      
        google.load("visualization", "1", {packages:["corechart"]});
      
        function drawConnections() {
        	jsPlumb.removeEveryEndpoint();
        	
      		jsPlumb.importDefaults({
      		  Connector: [ "Bezier", { curviness: 50 } ],
      		  Anchors: [ "RightMiddle", "LeftMiddle" ],
      		  PaintStyle: { lineWidth: 1, strokeStyle:"#3B5998" },
      		  Endpoint: [ "Dot", { radius:1 } ]
      		});
      		
      		{% for row in league %}
      		try { jsPlumb.connect({ source:'m_{{row.0}}', target:'f_{{row.0}}', container:$("#comparisonresult") }); } catch (err) { }
	    	{% endfor %}
        }
        
        function compareWithFriend(friendId, friendName) {
          if ($('#comparediv').is(':hidden')) $('#comparediv').show('slow');
        
          if (friendName == null) { friendName = $('#friend option:selected').text(); }
          else { $("#friend option[value='" + friendId + "']").attr('selected','selected');  }
          
      	  $('#comparemessage').text('Retrieving ' + friendName + '\'s network...');
          $('#comparisonvalue').text('');
          $('#friendvalue').html('');
          if (!$('#comparisonchart').is(':hidden')) $('#comparisonchart').hide();
          if (!$('#comparisonresult').is(':hidden')) $('#comparisonresult').hide();
          
          $.ajax({
	        type : 'POST',
	        url : '/network/{{uid}}',
	        dataType : 'json',
	        data: {
	          code: '{{code}}',
	          frienduid: friendId,
	          action: 'getFriendValues'
	        },
	        success : function(data){
	          $('#comparemessage').text('');
	          if (data.nodes == null || data.edges == null) {
	            $('#comparemessage').html(friendName + " has not computed network information. <a href=\"#\" onclick=\"sendMessageToFriend('" + friendId + "', false); return false;\">Tell him/her to do it immediately</a>!");
	            drawChartAlone();
	          }
	          else {
  	            $('#comparisonvalue').text(friendName + '\'s Facebook network nodes (and edges) count:');
	            $('#friendvalue').html(data.nodes + ' <small>(' + data.edges + ')</small>');
	            drawChart(data.nodes, data.edges);
	            
	            {% if not hiddenleague %}
	            if ($('#comparisonchart').is(':hidden')) $('#comparisonchart').show();
	            drawComparisonChart(friendId, friendName, data.nodes, data.edges);
	            
	            if (data.friendleagueids != null && data.friendleaguenames != null) {
		            if ($('#comparisonresult').is(':hidden')) $('#comparisonresult').show();
		            
		            var leagueids = new Array();
		            var leaguenames = new Array();
		            {% for row in league %}
		            leagueids[{{forloop.counter}}-1] = '{{row.0}}';
		            leaguenames[{{forloop.counter}}-1] = '{{row.1}}';
		            {% endfor %}
		            
		            var tableHtml  = '<table width="500" class="longvalues" id="comparisontable">';
		                tableHtml += '<tr class="valueshead"><td colspan="2">Your network</td><td style="width:100px">&nbsp;</td><td colspan="2">Friend\'s network</td></tr>';
		                tableHtml += '<tr class="valueshead"><td>Ranking:</td><td>Name:</td><td>&nbsp;</td><td>Ranking:</td><td>Name:</td></tr>';
		            
		            var lastrow = Math.max(leagueids.length, data.friendleagueids.length);
	                for (var i = 0; i < lastrow; i++) {
	                	tableHtml += '<tr>';
	                	
	                	var styleRow = '';
	                	if (i < leagueids.length) {
	                		if (data.friendleagueids.indexOf(leagueids[i]) != -1) styleRow = ' class="grey"';
	                		if (leagueids[i] == friendId) { tableHtml += '<td class="myname">' + (i+1) + '</td><td class="myname" id="text"><div id="m_' + leagueids[i] + '">' + leaguenames[i] + '</div></td>'; }
		                	else { tableHtml += '<td' + styleRow + '>' + (i+1) + '</td><td id="text"' + styleRow + '><div id="m_' + leagueids[i] + '">' + leaguenames[i] + '</div></td>'; }
	                	} else { tableHtml += '<td>&nbsp;</td><td id="text">&nbsp;</td>'; } 
	                	tableHtml += '<td>&nbsp;</td>';
	                	
	                	styleRow = '';
	                	if (i < data.friendleagueids.length) {
	                	  if (leagueids.indexOf(data.friendleagueids[i]) != -1) styleRow = ' class="grey"';
	                	  if (data.friendleagueids[i] == '{{uid}}') { tableHtml += '<td class="myname"><div id="f_' + data.friendleagueids[i] + '">' + (i+1) + '</div></td><td id="text" class="myname">' + data.friendleaguenames[i] + '</td>'; }
	                	  else { tableHtml += '<td' + styleRow + '><div id="f_' + data.friendleagueids[i] + '">' + (i+1) + '</div></td><td id="text"' + styleRow + '>' + data.friendleaguenames[i] + '</td>'; } }
	                	else { tableHtml += '<td>&nbsp;</td><td id="text">&nbsp;</td>'; } 
	                	
	                	tableHtml += '</tr>';
	                }
	                
	                tableHtml += '</table>';
		            $('#comparisonresult').html(tableHtml);
		            drawConnections();
	            }
	            {% endif %}
              }
	        },
	        error : function(XMLHttpRequest, textStatus, errorThrown) {
	          $('#comparemessage').text("Error while retrieving friends index value.");
	          drawChartAlone();
	        }
	      });
	    }
        
        function drawComparisonChart(friendId, friendName, friendNodes, friendEdges) {
        	var data = new google.visualization.DataTable();
            data.addColumn('string', 'ID');
            data.addColumn('number', 'Person');
            data.addColumn('number', 'Number of nodes');
            data.addColumn('string', 'Person Name');
            data.addColumn('number', 'Number of edges');
            data.addRows([
              ['', 1, {{nodes|length}}, '{{me.name}}', {{edges|length}}],
              ['', 3, friendNodes, friendName, friendEdges],
            ]);
            
            var maxFriends = Math.max({{nodes|length}}, friendNodes);
            var options = {
               width: 500, height: 250,
               title: 'Comparison of networks',
               hAxis: {title: 'Person', minValue: 0, maxValue: 3, textStyle: {fontSize: 1}},
               vAxis: {title: 'Number of friends', minValue: 0, maxValue: parseInt(maxFriends*1.3)},
               sizeAxis: {minValue: 0},
               bubble: {textStyle: {fontSize: 10}},
               legend: {position: 'bottom'}
             };

             var chart = new google.visualization.BubbleChart(document.getElementById('comparisonchart'));
             chart.draw(data, options);
        }
	    
	    function postOnFriendWall(friendId, alreadyComputed) {
	    	if (alreadyComputed) description = 'Hey, you look to be one of the most significant friends in my Facebook network! Come and check how we relate on Rorschach Test Platform application!';
	    	else description = 'Hey, have you ever heard bout Rorschach Test Platform? You can use this application to check who are the most significant friends in your Facebook network!';
	    	popup('{%autoescape off%}{{conf.POST_TO_WALL}}{%endautoescape%}&to=' + friendId + '&description=' + description, 'Post', 580, 400);
	    }
	    
	    function sendMessageToFriend(friendId, alreadyComputed) {
	    	if (alreadyComputed) description = 'Hey, you look to be one of the most significant friends in my Facebook network! Come and check how we relate on Rorschach Test Platform application!';
	    	else description = 'Hey, have you ever heard bout Rorschach Test Platform? You can use this application to check who are the most significant friends in your Facebook network!';
	    	popup('{%autoescape off%}{{conf.SEND_TO}}{%endautoescape%}&to=' + friendId + '&description=' + description, 'Send', 580, 400);
	    }
      
        $('#friend').change(function() {
          if ($('#friend option:selected').val() == "") {
            $('#comparemessage').text('');
            $('#comparisonvalue').text('');
            $('#friendvalue').html('');
            if (!$('#comparisonchart').is(':hidden')) $('#comparisonchart').hide();
	        if (!$('#comparisonresult').is(':hidden')) $('#comparisonresult').hide();
	        drawChartAlone();
          }
          else {
            compareWithFriend($('#friend option:selected').val(), null);
          }
        });
      
        $('#comparelink').click(function() {
          if ($('#comparediv').is(':hidden')) {
    	    $('#comparediv').show('slow');
          } else {
          	$('#comparediv').hide('fast');
          }
          return false;
        });
      // -->    	
      </script>
      {% endif %}
      </section>
      
      <section id="normalsection" class="clearfix">
        <p class="title">Elite group of the network:</p>
        {% if not league == None %}
        <p>&nbsp;</p>
        {% if not hiddenleague %}
        <table id="podium">
          <tr class="podiumimgrow">
            <td rowspan="2" class="picture"><div class="podiumpicdiv1"><div class="podiumpicdiv2"><a href="http://www.facebook.com/profile.php?id={{league.1.0}}" target="_blank"><img src="https://graph.facebook.com/{{league.1.0}}/picture?type=normal" alt="{{league.1.1}}" border="0" /></a></div></div></td>
            <td class="picture"><div class="podiumpicdiv1"><div class="podiumpicdiv2"><a href="http://www.facebook.com/profile.php?id={{league.0.0}}" target="_blank"><img src="https://graph.facebook.com/{{league.0.0}}/picture?type=normal" alt="{{league.0.1}}" border="0" /></a></div><div class="badge1st"><img src="/static/images/ribbon_1st.png" /></div></div></td>
            <td rowspan="3" class="picture"><div class="podiumpicdiv1"><div class="podiumpicdiv2"><a href="http://www.facebook.com/profile.php?id={{league.2.0}}" target="_blank"><img src="https://graph.facebook.com/{{league.2.0}}/picture?type=normal" alt="{{league.2.1}}" border="0" /></a></div></div></td>
          </tr>
          <tr class="podiumrow"><td rowspan="3" class="pavement"><strong>1</strong></td></tr>
          <tr class="podiumrow"><td rowspan="2" class="pavement">2</td></tr>
          <tr class="podiumrow"><td class="pavement">3</td></tr>
        </table>
        {% endif %}
        
        <table id="values" class="longvalues">
          <thead class="valueshead"><td>Ranking:</td><td>Name:</td><td>Degree:</td><td>Closeness:</td><td>Betweenness:</td></thead>
          {% for row in league %}
          <tr><td>{{forloop.counter}}</td><td id="text">{% if not hiddenleague %}<a id="{{row.0}}" href="http://www.facebook.com/profile.php?id={{row.0}}" target="_blank">{% endif %}{{row.1}}{% if not hiddenleague %}</a>{% endif %}</td><td id="value">{{row.2}}</td><td id="value">{{row.3|formatfloat:'6'}}</td><td id="value">{{row.4|formatfloat:'6'}}</td></tr>
          {% endfor %}
        </table>
          
        <div id="contextmenu"><span class="bracket">&#123;</span><span class="textmenu"></span></div>
          
        {% if not hiddenleague %}
        <script type="text/javascript">
		  <!--
		  $(function() {
		    $("#values tr").hover(
		     function() {
		      if($(this).find("td").eq(0).text() == $("#values").find("td").eq(0).text()) return;
		     
		      $(this).addClass("highlight");
		      
		      var friendName = $(this).find("td").eq(1).text();
		      var friendId = $(this).find("td").eq(1).find("a:first").attr("id");
		      
		      var htmlText = "Interact with <strong>" + friendName + "</strong>!<br/>";
		      htmlText += "<a id='hovercompare' href='#' onclick=\"compareWithFriend('" + friendId + "', '" + friendName + "'); return false;\">Compare</a> | ";
		      htmlText += "<a id='hoverpost' href='#' onclick=\"postOnFriendWall('" + friendId + "', true); return false;\">Post on Wall</a> | ";
		      htmlText += "<a id='hoversend' href='#' onclick=\"sendMessageToFriend('" + friendId + "', true); return false;\">Send Message</a>";
		      $("#contextmenu").find("span").eq(1).html(htmlText);
		      
		      var pos = $(this).position();
    		  var width = $(this).outerWidth();
    		  
		      $("#contextmenu").css({
        		position: "absolute",
        		top: (pos.top - 8) + "px",
        		left: (pos.left + width + 10) + "px" }).show();
		     },
		     function() {
		      $(this).removeClass("highlight");
		     });
		   })
		  $(function() {
		    $("#contextmenu").mouseleave(
		     function() {
		      $("#contextmenu").hide();
		     });
		   })
		  //-->
		  </script>
          {% endif %}
	    </p>
	    {% endif %}
      {% else %}
      <p>You have to compute your network statistics in order to have the network computed and visible here.</p>
      {% endif %}
    </section>
    
    <section id="normalsection" class="clearfix">
      <p><div class="fb-comments" data-href="{{conf.BASE_URL}}network/{{uid}}" data-num-posts="2" data-width="672"></div></p>
      <script type="text/javascript">
      <!--
      var head = $("head").get(0);  // using jquery
	  var script2 = document.createElement("script");
	  if (!$.browser.msie ) {
	    script2.innerHTML = "window.FB = null;FB=null;";
	  }else{
	    script2.text = "window.FB = null;FB=null;";
	  }
	  head.appendChild(script2);
      // -->
      </script>
    </section>
    
    <script type="text/javascript">
     <!--
       function post_wall() {
    	   if (window.confirm("Do you really want to post result to your wall?")) {
	    	   $.ajax({
	               type : 'POST',
	               url : '/postwall',
	               dataType : 'json',
	               data : {
	                  code : '{{code}}',
	                  msgtype : 'network',
	            	  nodes : '{{nodes|length}}',
	                  edges : '{{edges|length}}',
	                  league : '{{league}}',
	               },
	               success : function(data){ },
	               error : function(XMLHttpRequest, textStatus, errorThrown) {
	                  window.alert("Error while posting to your wall.")
	               }
	            });
    	   }
    	   
    	   return false;
       }       
     // -->
    </script>
