    <section id="copyright">
    <p>Rorschach Test Platform - developed by <a href="http://www.facebook.com/biancio" alt="Andrea Biancini">Andrea Biancini</a></p>
    <div class="fb-like" data-href="http://apps.facebook.com/rorschach_test_platf" data-send="false" data-width="450" data-show-faces="false" data-font="tahoma"></div>
    </section>
    <div id="fb-root"></div>
	<script type="text/javascript">
	<!--
	  (function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) return;
  		js = d.createElement(s); js.id = id;
  		js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=223295151080625";
  		fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    // -->
	</script>
  </body>
</html>
