h2 {
  color: #656565;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 18px;
}

a.disabled {
  color: grey;
}

p {
  font-size: 12px;
  line-height: 14px;
  text-align: justify;
}

p.title {
  font-weight: bold;
  margin-top: 12px;
}

#nodevalues {
  height: 200px;
  width: 330px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: none;
}

#edgevalues {
  height: 200px;
  width: 480px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: none;
}

#comparediv {
  display: none;
}

#friendvalue, #friendnodes, #friendedges {
  font-style: italic;
  color: #db3811;
}

#friendelite {
  font-weight: normal;
  font-style: italic;
  color: #db3811;
}

#podium {
	width: 500px;
	padding: 0px;
	spacing: 0px;
	margin-bottom: 10px;
}

.podiumimgrow {
	height: 100px;
}

.podiumrow {
	height: 15px;
}

.highlight {
	background-color: #E9E9E9;
}

#contextmenu {
	position: absolute;
	display: none;
	height: 40px;
	width: 500px;
}

#contextmenu.textmenu {
	display: table-cell;
	margin-left: 5px;
	padding-left: 5px;
}

.bracket {
	font-size: 24px;
	line-height: 24px;
	color: #8B0000;
	float: left;
	height: 30px;
	vertical-align: middle;
	display: table-cell;
}

.picture {
	align: center;
	text-align: center;
	vertical-align: bottom;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
}

.podiumpicdiv1 {
	border: 1px solid #3B5998;
	margin: auto;
	display: table;
	height: 120px;
	width: 108px
}

.podiumpicdiv2 {
	display: table-cell;
	vertical-align: middle;
}

.badge1st {
	position: absolute;
	margin-left: -21px;
	margin-top: 90px;
}

.pavement {
	text-align: center;
	vertical-align: top;
	background-color: #E9E9E9;
	border-top: 1px solid #656565;
	border-bottom: 1px solid #656565;
	font-style: italic;
}

#values.longvalues {
  font-size: 12px;
  line-height: 12px;
  border: 1px solid #e9e9e9;
  color: #25383C;
}

#valueshead {
  font-weight: bold;
  text-align: center;
  border: 1px solid #e9e9e9;
  line-height: 14px; 
}

#value {
  width: 100px;
  text-align: right;
}

#text {
  width: 150px;
  text-align: left;
}